@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #121826;
}
body{
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-family: Inter, sans-serif;
    z-index: 1;

}

body>img:nth-child(1) {
    position: absolute;
    transform: translate(-50%, -60%);
    z-index: -1;

}

body>img:nth-child(2) {
    position: absolute;
    right: 0;
    transform: translate(50%, 15%);
    z-index: -1;
}

#root{
    width: 100vw;
    height: 100vh;
}